@{
    ViewData["Title"] = "Регистрация";
}

<h2 class="text-center mt-4">Регистрация</h2>

<div class="container mt-4" style="max-width: 500px;">
    <form>
        <div class="mb-3">
            <label class="form-label">Имя</label>
            <input type="text" class="form-control" placeholder="Введите имя">
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" placeholder="Введите Email">
        </div>

        <div class="mb-3">
            <label class="form-label">Пароль</label>
            <input type="password" class="form-control" placeholder="Введите пароль">
        </div>

        <div class="mb-3">
            <label class="form-label">Повторите пароль</label>
            <input type="password" class="form-control" placeholder="Повторите пароль">
        </div>

        <button type="submit" class="btn btn-success w-100">Зарегистрироваться</button>

        <div class="text-center mt-3">
            Уже есть аккаунт?
            <a href="/Account/Login">Войти</a>
        </div>
    </form>
</div>
