@{
    ViewData["Title"] = "Главная";
}

<div class="hero-section">
    <div class="hero-content">
        <h1 class="display-5 fw-bold">Добро пожаловать в мир домашних рецептов!</h1>
        <p class="lead mt-3">
            Здесь вы найдете лучшие рецепты блюд, приготовленных с любовью и по-домашнему.
        </p>
        @* "<a href="/Recipes" class="btn btn-warning mt-3">Перейти к рецептам</a> *@
    </div>
</div>


